option_settings:
  aws:autoscaling:launchconfiguration:
    EC2KeyName: 'taisei-pf'
    SecurityGroups: sg-0d52f3dc8b263d9eb
  aws:ec2:instances:
    EnableSpot: true
    InstanceTypes: 't3.micro'
    SpotFleetOnDemandBase: '1'
    SpotFleetOnDemandAboveBasePercentage: '33'
  aws:ec2:vpc:
    VPCId: 'vpc-c4ad45a1'
    Subnets: 'subnet-0c50b8e853ef2c629,subnet-0ea0ce512a9ef2e34'
    ELBSubnets: 'subnet-0ce5968897061c193,subnet-060030772d10c7cec'
    AssociatePublicIpAddress: false
  aws:autoscaling:asg:
    Availability Zones: Any
    Cooldown: '720'
    MinSize: '2'
    MaxSize: '2'
  aws:autoscaling:trigger:
    BreachDuration : 5
    MeasureName : CPUUtilization
    Statistic : Average
    Unit : Percent
    UpperThreshold : 60
