option_settings:
  aws:autoscaling:launchconfiguration:
    EC2KeyName: 't-spider'
  aws:ec2:instances:
    InstanceTypes: 't3.small'
  aws:ec2:vpc:
    VPCId: 'vpc-0261aff7109c2ec14'
    Subnets: 'subnet-08ea8852203c74a21,subnet-09a793937c3150c0a'
    ELBSubnets: 'subnet-0469aa041469cded0,subnet-0157708b551d45d16'
    AssociatePublicIpAddress: false
  aws:autoscaling:asg:
    Availability Zones: Any
    Cooldown: '720'
    MinSize: '2'
    MaxSize: '2'
  aws:autoscaling:trigger:
    BreachDuration : 5
    MeasureName : CPUUtilization
    Statistic : Average
    Unit : Percent
    UpperThreshold : 60
